# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Flask instance folder
instance/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

