blinker
click
contourpy
cycler
Flask
Flask-CORS
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
packaging
pillow
pyparsing
python-dateutil
six
Werkzeug
reportlab
gunicorn